body {
    font-family: "Exo 2", sans-serif;
}

.borderDiscussion {
    border: 2px;
    border-radius: 5px;
    border-color: black;
}

.myHover:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

.myHover:hover a {
    color: white;
}

.line {
    height: 4px;
}

.ProfilePictureSmall {
    border-radius: 25%;
}

a {
    color: black;
}

.ratingBtn {
    border: none;
    background: none;
}

.ratingBtn:hover {
    cursor: pointer;
}

.ratingDown:hover {
    color: red;
}

.ratingUp:hover {
    color: green;
}

#addAnswerDiv {
    display: none;
}

.addBtn {
    color: black;
    background: none;
    border-style: none;
}

.addBtn:hover {
    color: white;
    background: none;
    background-color: black;
    border-style: none;
    cursor: pointer;
}

.ui-tabs {
    color: black;
    background: none;
    border-style: none;
}

.ui-tabs .ui-tabs-active {
    color: white;
    background: none;
    background-color: black;
    border-style: none;
    cursor: pointer;
}

.publishTimeAnswer {
    display: inline;
}

#replyText {
    resize: none;
}

.liked {
    color: green;
}

.disliked {
    color: red;
}

.neutral {
    color: black;
}

.profilePic {
    border-radius: 20%;
}

.noProfilePic {
    width: 500px;
    height: 500px;
}

#deleteProfileLink {
    text-decoration: none;
    color: red;
}

#deleteProfileLink:hover {
    text-decoration: none;
    color: red;
}

.socialLink {
    border-radius: 50%;
    width: 200px;
    height: 200px
}

.funDropDown {
    border-style: none;
    background: none;
}

.funDropDown:hover {
    cursor: pointer;
}

.funDropDown:focus {
    outline: 0;
}

.scrollable {
    overflow-y: scroll;
    height: 150px;
}

.scrollableDiv {
    overflow-y: scroll;
    height: 600px;
}

.gameQuestionsDiv {
    display: inline-block;
}

.jokeLink {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.delete:hover{
    text-decoration: none;
    color: red;
}

.clearLink {
    text-decoration: none;
}

textarea:focus {
   height: 30vh;
}

.viewDiv {
    height: 30vh;
}

.addBtn:hover a {
    color: white;
    text-decoration: none;

}

