
@{
    ViewData["Title"] = "About";
}

<h1>Hi</h1>

<div class="w-75 mx-auto">
    <div class="row">
        <h3 class="w-75 mx-auto">
            <u><i>Softuni.Community</i></u> is a open-source ASP.NET Core MVC project
            who aims to be a portal for students who wanna find people
            with same interests like programming, design, marketing or
            in simple words - IT.
        </h3>
    </div>
    <hr class="line bg-dark w-25 mb-5" />
    <div class="row">
        <h3 class="w-75 mx-auto">
            Maybe you are wondering about that from where i get this name for my project?
        </h3>
        <h3 class="w-75 mx-auto">
            Of course, it's simple: from my amazing school <a class="text-warning" href="http://softuni.bg">Software University</a>
            <iframe class="m-3 w-50" height="400px" src="https://www.youtube.com/embed/BOcMQS1hoEQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </h3>
    </div>
    <hr class="line bg-dark w-25 mb-5" />
    <div class="row">
        <h3 class="w-75 mx-auto">
            ... And finally what about me?
        </h3>
        <div class="w-75 mx-auto">
            <img class="mx-auto" width="150" height="150" src="https://res.cloudinary.com/sucimages/image/upload/v1545680441/ylt6kjzczivnry9gt9sf.jpg" />
        </div>
        <h3 class="w-75 mx-auto">
            I'm Tundzhay Mollov 21y/o coder who wanna be a software developer,
        </h3>
        <h3 class="w-75 mx-auto">wanna to build minimalistic, simply things that matters to someone, to something or just missing from somewhere.</h3>
        <h3 class="w-75 mx-auto">Have questions? Find me!</h3>
    </div>
    <div class="row">
        <div class="w-25 mx-auto">
            <a class="socialLink" href="https://github.com/tmollov"><i class="fab fa-github addAnswerBtn display-4"></i></a>
            <a class="socialLink" href="https://www.facebook.com/tuncay.molla97"><i class="fab fa-facebook-f addAnswerBtn display-4"></i></a>
            <a class="socialLink" href="https://www.instagram.com/tmollov/"><i class="fab fa-instagram addAnswerBtn display-4"></i></a>
        </div>
    </div>
</div>