
@{
    ViewData["Title"] = "Fun";
}

<div>
    <h1>Choose your side</h1>
</div>
<div class="row">
    <div class="col">
        <p>Enjoy with funny jokes</p>
    </div>
    <div class="col">
        <p>Explore games</p>
    </div>
</div>