@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span class="display-4 h1">to</span></h1>
    <h1 class="display-4">Softuni <span class="display-4 h1">C<img src="~/images/earthIcon.png" width="30px" height="30px">mmunity</span></h1>
    <p><a asp-area="Identity" asp-controller="Account" , asp-action="Register">Join</a> our developer community today!</p>
</div>
