@using  Softuni.Community.Web.Common
@model Softuni.Community.Web.Models.ViewModels.AllProblemsViewModel
@{
    ViewData["Title"] = "Manage Code Wizard";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div>
    <a class="addBtn border border-dark p-2 borderDiscussion" style="text-decoration: none;" asp-area="Fun" asp-controller="Games" asp-action="AddProblem">Add Problem</a>
</div>
<div class="w-75 mt-5 mx-auto">
    @foreach (var problem in Model.GameProblems)
    {
        <div class="p-2 mx-auto mt-2 mb-2 border border-dark gameQuestionsDiv">
            @{
                var parameters = new Dictionary<string, string>
                {
                    { Query.Id, $"{problem.Id}" },
                };
            }
            <a asp-area="Fun" asp-controller="Games" asp-action="ProblemDetails" asp-all-route-data="parameters">@problem.ProblemContent</a>
            <p>Right Answer: @problem.RightAnswer</p>
        </div>
    }

</div>