@model Softuni.Community.Web.Models.BindingModels.DeleteProfileBindingModel
@{
    ViewData["Title"] = "Delete Profile";
}
<h1>@ViewData["Title"]</h1>
<div class="mt-5">
    <form asp-area="Identity" asp-controller="Account" asp-action="DeleteProfile" method="post">
        <h1>Are you sure ?</h1>
        <div class="mt-5 mx-auto text-center">
            <div class="form-group mx-auto w-25">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input id="PasswordInput" class="form-control text-center" asp-for="Password" placeholder="Password..." aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                    <div class="input-group-append">
                        <span id="inputGroupPrepend" class="input-group-text"><i id="ShowPasswordIcon" class="ratingBtn fas fa-eye my-auto mr-auto" onclick="ShowPassword()"></i></span>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger text-center"></span>
            </div>
            <div class="mt-4 row w-25 mx-auto">
                <button class="col addBtn delete p-2 mx-auto" type="submit">
                    <h3 class="my-auto">Yes, Delete it.</h3>
                </button>
                <h3 class="col addBtn p-2 m-auto"><a class="addBtn my-auto" asp-area="Identity" asp-controller="Account" asp-action="ProfileSettings">No, I'll stay</a></h3>
            </div>

        </div>
    </form>
</div>
